* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
}

.header
{
    display: flex;
    justify-content: space-between;
    background-color: #49c5b6;
    border-bottom: 3px solid #000000;
}

.login{
    width: 460px;
    overflow: hidden;
    margin: 0 auto;
    padding: 80px;
    background-color: #49c5b6;
    border-radius: 15px ;
    justify-content: center;
    border: 3px solid #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    padding: 5px 10px;
    margin-left: 30px;
}

.logo h3 {
    text-indent: 35px;
    color: #ffffff;
}

h2{
    text-align: center;
    color: #277582;
    padding: 70px;
}
label{
    color: #08ffd1;
    font-size: 17px;
    justify-content: center;
}
.userInput{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
}
.passInput{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
}
span{
    color: white;
    font-size: 17px;
    margin-top: 20px;
}
.login_button{
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    margin-right: 5px;
    color: #000000;
    padding: 5px 10px;
    line-height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
    border-width: 0px;
}
.login_button:hover{
    box-shadow: 4px 4px 0 #000000;
    transform: translate(-4px,-4px);
}
.login_button:focus-visible{
    outline-offset: 1px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    padding: 35px;
    color: #ffffff;
    font-size: 10px;
}

